version: 2

defaults: &defaults
  docker:
    - image: cimg/node:18.1.0

jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - run: npm i -g pnpm
      - run:
          name: Install dependencies
          command: pnpm i --frozen-lockfile
      - run:
          name: Lint
          command: pnpm run lint --recursive
      - run:
          name: Build
          command: pnpm run build --recursive
      - run:
          name: Test
          command: pnpm run test --recursive


  deploy:
    <<: *defaults
    steps:
      - checkout
      - run: npm i -g pnpm
      - run:
          name: Install dependencies
          command: pnpm i --frozen-lockfile
      - run:
          name: Lint
          command: pnpm run lint --recursive
      - run:
          name: Build
          command: pnpm run build --recursive
      - run:
          name: Test
          command: pnpm run test --recursive
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/repo/.npmrc
      - run:
          name: Publish
          command: pnpm publish

workflows:
  version: 2
  build-deploy:
    jobs:
      - build:
          filters:
            branches:
              ignore:
                - master
      - deploy:
          filters:
            branches:
              only: master
